modelscope
numpy
datasets
addict
pyannote-audio            3.1.0                    pypi_0    pypi
pytorch                   2.7.1           cuda128_mkl_py39_hecd1aea_302    http://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge